

:root {
    --main: 'Poppins', sans-serif;
    --secondary: 'Open Sans', sans-serif;
    --accent: 'Work Sans', sans-serif;
}



.navWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo {
    width: clamp(5rem, 10%, 7rem);
    cursor: pointer;
}


.nav-NavItems_Wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-NavItems_List {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.navItem {
    padding: .7rem;
    margin-left: 1rem;
    border-radius: 2px;
    transition: ease-in-out .1s;
    font-family: var(--main);
    font-weight: 400;
}


.navItem:hover {
    transform: translateY(-3px);
    border-bottom: 2px solid white;
    color: white;
    background: linear-gradient(to top,  rgb(85, 76, 90) 2%, transparent ,transparent, transparent);

}

.navItem a {
    transition: ease-in-out .2s;
    color: rgb(199, 199, 199);
    text-decoration: none;
}

.navItem a:hover {
    color: white;

}